* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 90vh;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #346cb0;
    border: 0px none #346cb0;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #346cb0;
}
::-webkit-scrollbar-thumb:active {
    background: #346cb0;
}
::-webkit-scrollbar-track {
    background: #346cb0;
    border: 0px none #346cb0;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #346cb0;
}
::-webkit-scrollbar-track:active {
    background: #346cb0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #346cb0;
    padding: 20px;
    position: relative;
    z-index: 999;
    box-shadow: 1px 3px 131px 16px rgba(0,0,0,0.77);
}
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header .logo h3 {
    color: #8fb6e4;
    font-weight: 900;
    font-size: 20px;
}
header .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 171px;
    margin-right: -17px;
    position: relative;
}
header .settings .image {
    border-radius: 50%;
    height: 30px;
    width: 27px;
}
header .settings .menu {
    display: none;
    background-color: var(--bs-border-color);
    width: max-content;
    height: max-content;
}
header .settings .username {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #173253;
    cursor: pointer;
}
header .settings:hover {
 background-color:  #4a78b0;;
}
header .settings .menu .fa-user {
    padding-left: 19px;
    padding-right: 10px;
}
header .settings:hover .menu
{
  display: block;
  position: absolute;
  top: 50px;
  width: 171px;
}
header .settings::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 40px;
    background-color: #4a78b0;
    left: -10px;
    /* margin-right: 10px; */
}
.sidebar {
    padding: 25px;
    float: left;
    height: 100%;
    width: max-content;
    background-color: #3280dfb3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar .nav-bar {
    overflow: hidden;
    position: relative;
    list-style: none;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #021730b3;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}
.sidebar .nav-bar li {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
}
.sidebar .nav-bar li:hover {
    color: #2e5382;
}
.sidebar .nav-bar li::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 3px;
    background-color: #2748dd;
    bottom: 0;
    top: 20px;
    left: 100px;
    transition: 1s;
}
.sidebar .nav-bar li:hover::after, 
.sidebar .active {
    left: 0;
}
.sidebar .logout {
    background-color: #df4759;
    text-align: center;
    padding: 4px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #2e5382;
    margin-bottom: 10px;
    text-transform: lowercase;
    cursor: pointer;
    transition: .4s;
}
.sidebar .logout:hover {
    border: 3px solid  #346cb0;
}
main {
    width: 100%;
    height: 100%;
    background-color: #346cb0; 
    text-align: center;
    padding-top: 20px;
}
main .text {
    font-size: 24px;
    font-weight: 800;
    color: #eee;
    letter-spacing: 1px;
}
main .text .shake {
    animation-name: wave-animation; 
    animation-duration: 2.5s;
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;     
    display: inline-block;
}
main .cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
main .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    margin-top: 48px;
    padding: 5px;
    background: #00000016;
    width: 258px;
    height: 78px;
    color: #eee;
    transition: .5s;
}
main .cards .card:hover {
    height: 84px;
    cursor: pointer;
    color: #fbf4f4;
}
main .cards .card .text {
    margin-left: 6px;
}
main .foot {
    position: relative;
}
main .foot .add {
    padding: 8px;
    font-size: 17px;
    font-weight: 700;
    background: round;
    /* background-color: var(--bs-dark-text); */
    border: 4px solid var(--bs-blue);
    border-radius: 10px;
    color: var(--bs-border-color);
    text-align: center;
    text-transform: math-auto;
}
main .foot .dash {
    padding: 8px;
    font-size: 17px;
    font-weight: 700;
    background: round;
    border: 4px solid var(--bs-border-color-translucent);
    border-radius: 10px;
    color: var(--bs-border-color);
    text-align: center;
    text-transform: math-auto;
}
main .foot button {
    transition: .4s;
}
main .foot button:hover {
    color: var(--bs-blue);
    margin-bottom: 20px;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

